html, 
body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

.container {
    padding: 0 20vw;
}

.container-grey {
    background-color: #f7f7f7;
}

.header__container {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 1px 2px rgb(190, 190, 190);
}

.header__content {
    display: flex;
    justify-content: space-between;
}

.paw__container {
    display: flex;
    align-items: center;
}

.fa-paw {
    margin-right: 10px;
    font-size: 32px;
}

.paw__text {
    margin: 0;
    font-size: 16px;
}

.add-button {
    cursor: pointer;
    font-size: 32px;
    transition: 0.3s;
}

.main__container {
    flex: 1 1 auto;
    min-height: calc(100vh - 180px);
}

.cards__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.cat-card {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.cat-card__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat-name {
    margin: 0;
    margin-right: 5px;
}

.fa-heart {
    align-self: flex-end;
    font-size: 1.5em;
    color: rgb(216, 4, 4);
}

.footer__container {
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px -1px 2px rgb(190, 190, 190);
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    font-size: 12px;
    font-weight: 600;
    color: #979797;
}

.socials-icon {
    margin-right: 10px;
    font-size: 1.5em;
    transition: 0.2s;
}

.fa-github:hover {
    color: #9735d8;
}

.fa-vk:hover {
    color: rgb(110, 108, 238)
}

.fa-telegram:hover {
    color: rgb(34, 158, 217);
}

.add-form__container {
    display: flex;
    flex-direction: column;
    background-color: #f2f0f5;
    padding: 20px;
}

.add-form__title {
    margin: 0;
    margin-bottom: 20px;
}

.add-form__input {
    border: 1px solid rgb(190, 190, 190);
    border-radius: 3px;
    padding: 8px;
}

.fa-rectangle-xmark {
    align-self: flex-end;
    font-size: 2em;
}

.add-form__fields {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cat-img {
    grid-row: span 3;
    background-image: url(images/cat.jpg);
    background-size: cover;
}

.cat-description {
    grid-row: span 2;
}

.liked {
    display: flex;
    align-items: center;
}

.fa-circle-check {
    margin-left: 10px;
    font-size: 1.5em;
}

.submit-button {
    border-width: 0px;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    
}