html, 
body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

.container {
    padding: 0 20vw;
}

.container-grey {
    background-color: #f7f7f7;
}

.header__container {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 1px 2px rgb(190, 190, 190);
}

.header__content {
    display: flex;
    justify-content: space-between;
}

.paw__container {
    display: flex;
    align-items: center;
}

.fa-paw {
    margin-right: 10px;
    font-size: 32px;
}

.paw__text {
    margin: 0;
    font-size: 16px;
}

.add-button {
    cursor: pointer;
    font-size: 32px;
    transition: 0.2s;
}

.add-button:hover {
    color: rgb(141, 141, 141);
}

.main__container {
    min-height: calc(100vh - 180px);
    margin: 10px 0px;
}

.cards__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.cat-card {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 166px;
    border-radius: 10px;
    background-size: cover;
    font-size: 20px;
    cursor: pointer;
}

.cat-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(190, 190, 190, 0.5);
    border-radius: 10px;
}

.card-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;;
    object-fit: cover;
}

.cat-card__content {
    position: absolute;
    top: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat-name {
    margin: 0;
    margin-left: 25px;
}

.cat-card:hover .cat-name:after {
    content: "\f00e";
    position: absolute;
    top: 2px;
    right: -2px;
    font-family: FontAwesome;
}

.active {
    visibility: visible;
}

.inactive {
    visibility: hidden;
}

.fa-trash {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.2em;
    color: rgb(65, 65, 65);
    transition-duration: 0.2s;
}

.fa-trash:hover {
    color:rgb(0, 0, 0);
}
 
.fa-heart {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    color: rgb(216, 4, 4);
}

.footer__container {
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px -1px 2px rgb(190, 190, 190);
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    font-size: 12px;
    font-weight: 600;
    color: #979797;
}

.socials-icon {
    margin-right: 10px;
    font-size: 1.5em;
    transition: 0.2s;
}

.fa-github:hover {
    color: #9735d8;
}

.fa-vk:hover {
    color: rgb(110, 108, 238)
}

.fa-telegram:hover {
    color: rgb(34, 158, 217);
}

.add-form {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color:#000000c0;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
}

.add-form__favourite:checked {
    color: black;
}

.add-form__container {
    display: flex;
    flex-direction: column;
    background-color: #f2f0f5;
}

.add-form__title {
    margin: 0;
    padding-left: 20px;
    line-height: 2em;
    background-color:#8b96f7;
    color: #ffffff;
}

.input {
    border: 1px solid rgb(190, 190, 190);
    border-radius: 3px;
    padding: 8px;
}

.close-button {
    margin: 10px;
    align-self: flex-end;
    font-size: 2em;
    transition: 0.2s;
}

.close-button:hover {
    cursor: pointer;
    color:rgb(216, 4, 4);
}

.add-form__fields {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.cat-img {
    grid-row: span 3;
    background-image: url(images/cat.jpg);
    background-size: cover;
}

.cat-description {
    grid-row: span 2;
    resize: none;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.like-checkbox {
    appearance: none;
    position: absolute;
}

.like-checkbox:checked~.checkbox__label{
    color:rgb(34, 158, 217);
}

.like-checkbox:checked~.fake-checkbox{
    color:rgb(34, 158, 217);
}

.fa-circle-check {
    margin-left: 10px;
    font-size: 1.5em;
}

.submit-button {
    border-width: 0px;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

.submit-button:hover {
    background-color:#9735d8;
    animation: 0.5s scale 1 normal;
}

.authorization {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color:#000000c0;
    visibility: hidden;
    opacity: 0;
}

.authorization__container {
    position: absolute;
    top: 150px;
    max-width: 400px;
}

.authorization__wrapper {
    background-color: #e8eeff;
    padding: 10px;
    animation: 1s flow 1 normal;
}

.authorization__form {
    display: flex;
    flex-direction: column;
}

.authorization__header {
    margin: 0;
    margin-bottom: 5px;
    padding: 10px 8px;
    background-color: #c8d5fd;
}

.authorization__input {
    margin-bottom: 10px;
    width: 300px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #cfcfcf;
}

.authorization__sign-in {
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: rgb(153, 179, 250);
    color: white;
    font-weight: 900;
    transition-duration: 0.5s;
}

.authorization__sign-in:hover {
    background-color: #9735d8;
    cursor: pointer;
    animation: 0.5s scale 1 normal;
}

.active {
    visibility: visible;
    opacity: 1;
}

@keyframes scale {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

@keyframes flow {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1000px) {
    .cards__container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 680px){
    .cards__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .cards__container {
        grid-template-columns: 1fr;
    }

    .footer__content {
        flex-direction: column;
    }

    .footer__copyright {
        margin-bottom: 10px;
    }

    .footer__socials {
        font-size: 1.2em;
    }
}